
body {
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    margin: 10%;
}

h2 {
    text-decoration: overline;
}

a {
    color: whitesmoke;
    opacity: 50%;
    text-decoration: none;
}

img {
    height: 200px;
}